<h1 mat-dialog-title>Create Room</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Room Identity</mat-label>
                        <input formControlName="room_identity" name="room_identity" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Room Type</mat-label>
                        <input formControlName="room_type" name="room_type" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Bedroom Numbers </mat-label>
                        <input formControlName="bedroom_numbers" name="bedroom_numbers" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Bed Numbers</mat-label>
                        <input formControlName="bed_numbers" name="bed_numbers" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6, mx-1">
                    <mat-form-field class="example-form-field">
                        <mat-label> Number Bathrooms</mat-label>
                        <input formControlName="number_bathrooms" name="number_bathrooms" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6 , my-1">
                    <p><mat-slide-toggle formControlName="status" name="status">Status
                        </mat-slide-toggle></p>
                </div>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button color="warn" (click)="cancelar()" mat-button>Cancelar</button>
    <button mat-button color="primary" (click)="guardar()" mat-button>Guardar</button>
</div>