/* General styling for the page */
.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.subtitle{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no caben en la misma fila */
  gap: 240px; /* Espacio entre elementos */
  margin: 20px 0;
  align-items: flex-start; 
}

/* Establecer el ancho de los elementos de formulario */
.mat-form-field {
  flex: 1 ; /* Ocupa todo el espacio disponible en la fila */
}

.example-section p {
  display: inline-block; /* Colocar los checkboxes en línea */
  margin-right: 20px; /* Agregar un espacio entre los checkboxes */
}
.h4{
  text-align: center;
}

.full-width {
  width: 15%;
}

.table-container {
  margin-top: 20px;
}

/* Styling for the button container */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-button {
  width: 100%;
  text-align: center;
}
/* Optional: additional styling for the table */
table {
  width: 100%;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

.mensaje-no-existen-datos {
  display: flex;
  align-items: center;
  justify-content: center;
}
