<h1 mat-dialog-title>Create Guest</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Guest Fullname</mat-label>
                        <input formControlName="guest_fullname" name="guest_fullname" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Guest Dni</mat-label>
                        <input formControlName="guest_dni" name="guest_dni" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Gues Phone Number </mat-label>
                        <input formControlName="guest_phone_number" name="guest_phone_number" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Arrival Date</mat-label>
                        <input matInput [matDatepicker]="picker1" placeholder="Arrival" formControlName="admission_date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Choose Room</mat-label>
                        <mat-select formControlName="id_room" placeholder="Choose Room">
                            <mat-option *ngFor="let room of availableRooms" [value]="room.id_room">{{ room.room_identity }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Departure Date</mat-label>
                        <input matInput [matDatepicker]="picker2" placeholder="Departure" formControlName="departure_date">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button color="warn" (click)="cancelar()" mat-button>Cancelar</button>
    <button mat-button color="primary" (click)="guardar()" mat-button>Guardar</button>
</div>