<div class="app-panel-container">
    <div class = "container">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card routerLink="rooms/index">
                    <mat-icon>hotel</mat-icon>
                    <p>Rooms</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card routerLink="guest/index">
                    <mat-icon>co_present</mat-icon>
                    <p>Guest</p>
                </mat-card>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card routerLink="records/index">
                    <mat-icon>receipt_long</mat-icon>
                    <p>Records</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>

