<mat-toolbar color="primary" *ngIf="shouldShowNavbar()">
    <button routerLink="home" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <span>Hotel Deluxe</span>
    <span class="example-spacer"></span>
    Juanes Castillo
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>